.form__item {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* margin-top: 17px; */
  padding: 9px 0 10px;
}
@media (max-width: 425px) {
  .form__item {
    padding: 9px 0 13px;
  }
}
@media (max-width: 1280px) {
  .form__item {
    width: calc(238px + ((100vw - 320px) / (1280 - 320)) * (358 - 238));
  }
}

::placeholder {
  color: #c4c4c4;
}

