.heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: calc(24px + 17px);
  margin-top: 0;
}

.heading__register {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}


@media (max-width: 1280px) {
  .heading {
    font-size: calc(18px + ((100vw - 320px) / (1280 - 320)) * (24 - 18));
    line-height: calc(22px + ((100vw - 320px) / (1280 - 320)) * (29 - 22));
    margin-bottom: calc(45px + ((100vw - 320px) / (1280 - 320)) * (24 + 17 - 45));
  }
}
