.profile__edit-button {
  width: 24px;
  height: 24px;
  background: rgba(0, 0 , 0, 0);
  border: 1px solid #FFFFFF;
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  align-self: flex-end;

  /* Для всех кликабельных элементов достаточно устанавливать значение свойству cursor просто pointer. Устанавливать увеличенную иконку не нужно, так как это смещает фактическую точку клика курсора.
  Следует исправить для всех таких курсоров во всем проекте */
  /* cursor: url(../../../images/__cursor.svg), pointer; */

  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: opacity .5s linear;
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    /* align-self: flex-end; */
    background-size: 7.5px;
    width: 18px;
    height: 18px;
  }
}
