.profile__title {
  grid-area: ⭐️;
  margin: 0;
  padding-top: 21px;
  /* align-self: flex-end; */
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* overflow-y: visible; */
  overflow: hidden;
  max-width: 294px;
}

@media (max-width: 425px) {
  .profile__title {
    padding-top: 0;
  }
}

@media (max-width: 1280px) {
  .profile__title {
    font-size: calc(27px + ((100vw - 320px) / (1280 - 320)) * (42 - 27));
    line-height: calc(33px + ((100vw - 320px) / (1280 - 320)) * (48 - 33));
  }
}
