.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 282px;
  /* Задавать высоту элементам допустимо в том случае, если нет других способов решить эту проблему (например, для фоновой подложки определенной высоты). Здесь в этом нет необходимости, высота элемента задается отступами и контентом внутри него */
  /* height: 361px; */
  background: #FFFFFF;
  border-radius: 10px;
  position: relative;
}
