.help-text {
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.help-text__link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.help-text__link:hover {
  opacity: 0.6;
  transition: opacity .5s linear;
}
