.form {
  color: black;
  display: flex;
  flex-direction: column;
}

.form_theme_white {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
